<div class="container formContainer">'
	<div class="row">
		<div class="col m8 offset-m2 col s12">
			<div class="row" hidden>
				<div class="input-field col s12">
	          		<input id="selectedStataionId" type="text" class="validate" ng-model="selectedStataionId">
	        	</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
	          		<input id="sensorName" type="text" class="validate" ng-model="sensorName">
	          		<label for="sensorName">Sensor Name</label>
	        	</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<select class="browser-default" ng-model="sensorType">
						<option value="" disabled selected>Please choose station type</option>
			       		<option ng-repeat="value in selectValues">{{value}}</option>
			   		</select>
	        	</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
	          		<button class="btn waves-effect waves-light btn-large" ng-click="confirmAddSensor()">Confirm
			  		</button>
	        	</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
    	$('select').material_select();
  	});
</script>