<div class="row">
	 <table>
        <thead>
          <tr>
          	  <th>No</th>
              <th>Station</th>
              <th>No Of Times Visited</th>
              <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="data in history">
            <td>{{$index + 1}}</td>
            <td>{{data.station.stationName}}</td>
            <td>{{data.counter + 1}}</td>
            <td>{{(data.counter + 1) * 0.50}}$</td>
          </tr>
        </tbody>
      </table>
</div>
