<div class="container formContainer">
	<div class="row">
		<div class="col m8 offset-m2 col s12">
			<form>
				<div class="row">
					<div class="input-field col s12">
		          		<input id="stationName" type="text" class="validate" ng-model="stationName">
		          		<label for="stationName">Station Name</label>
		        	</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
		          		<input id="stationId" type="text" class="validate" ng-model="stationId">
		          		<label for="stationId">Station Id</label>
		        	</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
		          		<input id="lat" type="text" class="validate" ng-model="lat">
		          		<label for="lat">Latitude</label>
		        	</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
		          		<input id="lng" type="text" class="validate" ng-model="lng">
		          		<label for="lng">Longitude</label>
		        	</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<button class="btn waves-effect waves-light btn-large" ng-click="confirmEditStation()">Confirm
			  			</button>
			  		</div>
				</div>
			</form>
		</div>
	</div>
</div>