<div class="container formContainer">
	<div class="row">
		<div class="col m8 offset-m2 col s12">
			<div class="row">
				<div class="input-field col s12">
	          		<input id="sensorName" type="text" class="validate" ng-model="sensorName">
	          		<label for="sensorName">Sensor Name</label>
	        	</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
	          		<input id="sensorType" type="text" class="validate" ng-model="sensorType">
	          		<label for="sensorType">Sensor Type</label>
	        	</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
	          		<button class="btn waves-effect waves-light btn-large" ng-click="confirmEditSensor()">Confirm
			  		</button>
	        	</div>
			</div>
		</div>
	</div>
</div>