<!-- Main division -->
<div class="row cloudIntroDiv valign-wrapper">
	<div class="col s12 center-align">
		<h1>Mobile Sensor Cloud</h1>
		<a class="btn-large waves-effect waves-light #558b2f light-green darken-1" href="#/login">Login</a>
		<div style="padding:1%;">
			<a class="btn-floating btn-large waves-effect waves-light #311b92 deep-purple darken-4"><i class="material-icons large">play_for_work</i></a>
		</div>
	</div>
</div>

<!-- About Us division -->
<div class="container aboutUsDiv center-align">
	<div class="row">
		<div class="col m4">
			<i class="material-icons medium">assessment</i>
			<h4>Mobile sensor cloud management</h4>
			<p>This component is able to allow users to register, configure, and manage different types of sensors (or mobile sensors), and sensor controllers, and their connectivity with mobile sensor servers.</p>
		</div>
		<div class="col m4">
			<i class="material-icons medium">supervisor_account</i>
			<h4>Mobile sensor cloud monitoring</h4>
			<p>This component supports users to monitor mobile sensor clouds at different levels.</p>
		</div>
		<div class="col m4">
			<i class="material-icons medium">subject</i>
			<h4>Mobile sensor cloud provision</h4>
			<p>This component allows users to provision different sensors (or mobile sensors) at the different levels.</p>
		</div>
	</div>
	<div class="row">
		<div class="col m4">
			<i class="material-icons medium">redeem</i>
			<h4>Sensor data collector</h4>
			<p>This component is able to control and collect sensor data</p>
		</div>
		<div class="col m4">
			<i class="material-icons medium">store</i>
			<h4>Sensor data management</h4>
			<p>This component supports the management of sensor data for each mobile hub nodes</p>
		</div>
		<div class="col m4">
			<i class="material-icons medium">toll</i>
			<h4>Virtual sensor controller</h4>
			<p>This component is designed to simulate a sensor controller which is able to control and communicate with a number of sensors. </p>
		</div>
	</div>
	<div class="row">
		<div class="col m4">
			<i class="material-icons medium">dashboard</i>
			<h4>Dashboard user interface</h4>
			<p>This component the user interface to support the user and system interactions.</p>
		</div>
		<div class="col m4">
			<i class="material-icons medium">call_merge</i>
			<h4>Load Balancing</h4>
			<p>Load balancer based on one or more selected algorithms and request loader feeder.</p>
		</div>
		<div class="col m4">
			<i class="material-icons medium">call_split</i>
			<h4>Multi Tenancy</h4>
			<p>Multi-tenancy support and management.</p>
		</div>
	</div>
</div>

<!-- Divison to showcase mutiple device support -->
<div class="row valign-wrapper multiDeviceSupportDiv">
	<div class="col s12 center-align">
		<h1>Multiple Device Support</h1>
	</div>
</div>

<!-- Features Divison-->
<div class="container featuresDiv">
	<div class="row">
    	<div class="col s12 m3">
        	
        </div>
	</div>
</div>

<!-- Footer division-->
<footer class="page-footer">
	<div class="container">
		<div class="row">
      		<div class="col l6 s12">
        		<h5 class="white-text">Footer Content</h5>
        		<p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      		</div>
      		<div class="col l4 offset-l2 s12">
        		<h5 class="white-text">Links</h5>
		        <ul>
		        	<li><a class="grey-text text-lighten-3" href="#!">Login</a></li>
		          	<li><a class="grey-text text-lighten-3" href="#!">Register</a></li>
		          	<li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
		          	<li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
		          	<li><a class="grey-text text-lighten-3" href="#!">Features</a></li>
		          	<li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
		        </ul>
      		</div>
    	</div>
  	</div>
  	<div class="footer-copyright">
    	<div class="container">
    		© 2016 Copyright Text
    	</div>
	</div>
</footer>