<!-- Main division -->
<div class="row cloudIntroDiv valign-wrapper">
	<div class="col s12 center-align">
		<h1>Sensor Cloud</h1>
		<h4>We help you know the environment better</h4>
		<a class="btn-large waves-effect waves-light #558b2f light-green darken-1" href="#/login">Login</a>
		<div style="padding:1%;">
			<a class="btn-floating btn-large waves-effect waves-light #311b92 deep-purple darken-4"><i class="material-icons large">play_for_work</i></a>
		</div>
	</div>
</div>

<!-- About Us division -->
<div class="container aboutUsDiv">
	<div class="row">
		<h1 class="center-align">We Offer Following Services:</h1>
		<div class="col m6 s12 offset-m3">
			<ul>
				<li>
					<i class="material-icons medium">done_all</i>
					User can register, login and view all the sensors information
				</li>
				<li>
					<i class="material-icons medium">done_all</i>
					We offer latest sensor data for multiple stations
				</li>
				<li>
					<i class="material-icons medium">done_all</i>
					Data is available in graphical format for better analysis
				</li>
				<li>
					<i class="material-icons medium">done_all</i>
					Sensors in our system are both managed and controlled well
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- Divison to showcase mutiple device support -->
<div class="row valign-wrapper multiDeviceSupportDiv">
	<div class="col s12 center-align">
		<h1>Multiple Device Support</h1>
	</div>
</div>

<!-- Features Divison-->
<div class="container featuresDiv center-align">
	<div class="row">
    	<div class="col s12 m12">
        	<h1>Sensor Information We Offer</h1>
       		<div class="col s12 m4 sensorTypeDiv ">
		    	<p class="z-depth-2 #f8bbd0 pink lighten-4">Air Temperature</p>
		  	</div>
		    <div class="col s12 m4 sensorTypeDiv">
		      <p class="z-depth-2 #c5cae9 indigo lighten-4">Conductivity</p>
		    </div>
		    <div class="col s12 m4 sensorTypeDiv">
		      <p class="z-depth-2 #a5d6a7 green lighten-3">Currents</p>
		    </div>
		    <div class="col s12 m4 sensorTypeDiv">
		      <p class="z-depth-2 #ffe082 amber lighten-3">Salinity</p>
		    </div>
		    <div class="col s12 m4 sensorTypeDiv">
		      <p class="z-depth-2 #ffebee red lighten-5">Sea Level Pressure</p>
		    </div>
		    <div class="col s12 m4 sensorTypeDiv">
		    	<p class="z-depth-2 #ffecb3 amber lighten-4">Water Level</p>
		  	</div>
		    <div class="col s12 m4 sensorTypeDiv">
		      <p class="z-depth-2 #e6ee9c lime lighten-3">Water Temperature</p>
		    </div>
		    <div class="col s12 m4 sensorTypeDiv">
		      <p class="z-depth-2 #c8e6c9 green lighten-4">Waves</p>
		    </div>
		    <div class="col s12 m4 sensorTypeDiv">
		      <p class="z-depth-2 #b2ebf2 cyan lighten-4">Winds</p>
		    </div>
		    <div class="col s12 m4 sensorTypeDiv">
		      <p class="z-depth-2 #bbdefb blue lighten-4">Sea Level Pressure</p>
		    </div>
		</div>
	</div>
</div>

<!-- Footer division-->
<footer class="page-footer">
	<div class="container">
		<div class="row">
      		<div class="col l6 s12">
        		<p class="white-text">For any queries do drop us and email and we will get back to you as soon as possible</p>
        		<p class="grey-text text-lighten-4">Email: abc@cloudSensor.com</p>
      		</div>
      		<div class="col l4 offset-l2 s12">
        		<h5 class="white-text">Links</h5>
		        <ul>
		        	<li><a class="grey-text text-lighten-3" href="#">Home</a></li>
		    		<li><a class="grey-text text-lighten-3" href="#/login">Login</a></li>
		        	<li><a class="grey-text text-lighten-3" href="#/register">Register</a></li>
		        </ul>
      		</div>
    	</div>
  	</div>
  	<div class="footer-copyright">
    	<div class="container">
    		© 2016 Copyright Text
    	</div>
	</div>
</footer>