<!-- Navigation bar for HomePage -->
 <div class="navbar-fixed">
  	<nav>
	    <div class="nav-wrapper">
			<a href="#!" class="brand-logo"><img src="/images/cloudLogo.png"/ style="width:100px;height:100px;"></a>
	     	<ul class="right hide-on-med-and-down">
	        	<li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
	      	</ul>
	    </div>
	</nav>
</div>
 <ui-view/>