<div style="padding:2%;">
	<div class="row">
		<div class="col m6">
			<label>Search Station: <input ng-model="searchText"></label>
		</div>
		<div class="col m6 right-align">
			<a class="waves-effect waves-light btn #283593 indigo darken-3" href="#/addStation">Add Station</a>
		</div>
	</div>
	<div class="row" style="padding:2%;" ng-repeat="station in stationList| filter:searchText">
		<table class="bordered highlight">
			<thead>
				<span id="stationName">{{station.stationName}} - {{station.stationStatus}}</span>
				<span class="stationButtons">
					<a class="waves-effect waves-light btn" href="#/addSensor/{{station.stationId}}">Add Sensor</a>
					<a class="waves-effect waves-light btn" href="#/editStation/{{station.stationId}}">Edit Station</a>
					<a class="waves-effect waves-light btn" ng-click="confirmDeleteStation(station.stationId)">Delete Station</a>
				</span>
			</thead>
			<tbody ng-repeat="sensor in sensorList"   >
				<tr  ng-if="sensor.stationId == station.stationId">
					<td>{{sensor.sensorName}}</td>
					<td>{{sensor.sensorType}}</td>
					<td>{{sensor.sensorStatus}}</td>
					<td class="right-align">
						<a class="waves-effect waves-light btn green" href="#/editSensor/{{station.sensorId}}/{{sensor.sensorName}}"><i class="material-icons">edit</i></a>
						<a class="waves-effect waves-light btn green" ng-click="confirmDeleteSensor(station.stationId, sensor.sensorName)"><i class="material-icons">delete</i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>