
	
			<div class="row"  ng-repeat = "data in sensorList">
				<div class="col m3 ">
					 <highchart id="chart1" config="{{data}}1" class="span10" ng-hide= "temp"></highchart>
				</div>	 
				 
				<div class="col m3">
					  <highchart id="chart1" config={{data}} class="span10" ng-hide="humidity"></highchart>
				</div>	  
				
				<div class="col m3">
					   <highchart id="chart1" config={{data}} class="span10"></highchart>
				</div>
				<div class="col m3">
					   <highchart id="chart1" config={{data}} class="span10"></highchart>
				</div>
			</div>	
			{{dataSet}}	
<!-- 
<table class="striped ">
	<thead>
		<tr>
			<th>Date</th>
			<th ng-repeat="sensor in dataSet[0].dataArray">{{sensor.sensorId}}</th>		
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="data in dataSet">
			<td>{{data.date}}</td>
			<td ng-repeat = "sensor in data.dataArray ">{{sensor.data}}</td>
		</tr>
	</tbody>
</table> -->