<style>
	#gmaps {
	    width: auto;
		height: 600px;
	}
</style>

<div class="row loading" style="position:relative;top:40px;">
	<div class="col m4 offset-m4">
		<p>Loading....</p>
		<div class="progress">
    		<div class="indeterminate"></div>
		</div>
	</div>	
</div>

<div class="row">
	<div class="col m12" style="padding:2%">
      	<div ng-if="flag">
			<div my-map="" stations="stations" sensors="sensorList" user="endUser"></div>
		</div>
  	</div>
</div>
