<div class="navbar-fixed">
  	<nav>
	    <div class="nav-wrapper">
			<a href="#!" class="brand-logo">Logo</a>
	     	<ul class="right hide-on-med-and-down">
	     		<li><a href="#/"><i class="material-icons small">mode_edit</i>My Account</a></li>
	        	<li><a href="#/"><i class="material-icons small">system_update_alt</i>Logout</a></li>
	      	</ul>
	    </div>
	</nav>
</div>

<ul id="slide-out" class="side-nav fixed #e0e0e0 grey lighten-2">
	<li class="#9e9e9e grey center-align userDetails">
		<i class="large material-icons">perm_identity</i>
		<h6 id="userEmail">user@gmail.com</h6>
	</li>
	<li><a class="waves-effect waves-teal mdl-navigation__link" href=""><i class="material-icons small">home</i>Home</a></li>
	<li><a class="waves-effect waves-teal" href=""><i class="material-icons small">view_list</i>Sensor Data</a></li>
	</ul>

<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>