<div style="padding:2%;">
	<div class="row">
		<div class="col m6">
			<h4>Recent History</h4>
			<ul class="collapsible z-depth-2" data-collapsible="accordion">
				<li ng-repeat="data in history">
			    	<div class="collapsible-header">{{data.station.stationName}}</div>
			      	<div class="collapsible-body">
						<p>Date: {{data.timeStamp}}</p>
						<p>Latitude: {{data.station.stationLat}}</p>
						<p>Longitude: {{data.station.stationLong}}</p>
						<p>Status: {{data.station.stationStatus}}</p>
					</div>
			    </li>
			</ul>
		</div>
		<div class="col m6">
			<h4>Most Visited Station</h4>
			<ul class="collapsible z-depth-2" data-collapsible="accordion">
				<li ng-repeat="data in mostVisitedStation">
			    	<div class="collapsible-header">{{data.station.stationName}}</div>
			      	<div class="collapsible-body">
						<p>Number Of Time Visited: {{data.counter + 1}}</p>
						<p>Latitude: {{data.station.stationLat}}</p>
						<p>Longitude: {{data.station.stationLong}}</p>
						<p>Status: {{data.station.stationStatus}}</p>
					</div>
			    </li>
			</ul>
		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
		$('.collapsible').collapsible({
			accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
		});
	});
</script>