<div class="container formContainer">
	<div class="row">
		<div class="col m8 offset-m2 col s12">
			<div class="row">
				<div class="input-field col s12">
	          		<input id="fname" type="text" class="validate" ng-model="fname">
	          		<label for="fname">First Name</label>
	        	</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
	          		<input id="lname" type="text" class="validate" ng-model="lname">
	          		<label for="lname">Last Name</label>
	        	</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
	          		<input id="email" type="email" class="validate" ng-model="email">
	          		<label for="email">Email</label>
	        	</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
	          		<input id="password" type="password" class="validate" ng-model="password">
	          		<label for="password">Password</label>
	        	</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
	          		<input id="cpassword" type="password" class="validate" ng-model="cpassword">
	          		<label for="cpassword">Confirm Password</label>
	        	</div>
			</div>
			<div class="row">
				<button class="btn waves-effect waves-light btn-large" ng-click="confirmRegister()">Register
	  			</button>
			</div>
		</div>
	</div>
</div>