<div class="row">
	<div>
       	<select class="browser-default" ng-model="selectedSensorType" ng-change="showSensorType()">
       		<option value="" selected>All</option>
       		<option value="{{data.sensor.sensorName}}" ng-repeat="data in configList">{{data.sensor.sensorType}}</option>
       	</select>
   	</div>
</div>

<div class="row loading" style="position:relative;top:40px;">
	<div class="col m4 offset-m4">
		<p>Loading....</p>
		<div class="progress">
    		<div class="indeterminate"></div>
		</div>
	</div>	
</div>

<div class="row">
	<div class="col m12" ng-repeat = "data in configList" ng-hide="{{data.sensor.sensorName}}showSensor" style="margin-bottom:2%;">
		<h3 class="center-align">{{data.sensor.sensorType}}</h3>
		<div ng-repeat="conf in data.config">
			<highchart config=conf></highchart>
		</div>
	</div>
</div>