<style>
	#gmaps {
	    width: auto;
		height: 600px;
	}
</style>

<div class="row">
	<div>
    	<select class="browser-default" ng-model="selectedSensorType" ng-change = "choseSensorType()" material-select>
    		<option value="" selected>All</option>
       		<option ng-repeat="value in selectValues">{{value}}</option>
   		</select>
	</div>
</div>
<div class="row">
	<div class="col m12" style="padding:2%">
      	<div ng-if="flag">
			<div my-map="" stations="stations" sensors="sensorList" user="endUser"></div>
		</div>
  	</div>
</div>
