<!DOCTYPE html>
<html>
  <head>
    <title>Mobile Sensor Cloud</title>
   
    <!--Google Icon Font CSS-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
	<!--Materialize CSS-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">          
    
    <!-- App CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <!--JQuery JS -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

  	<!-- Materialize JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
	
    <!-- Angular JS -->
  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  	
  	<!-- UI-Router JS -->
  	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgYPa3rFTfvxYkwI6EQxD12w5zKmbC4I0&callback=initMap"
        async defer></script>
  </head>
  <body ng-app="mobileSensorCloud">
  	
	<!-- Routing Div -->
  	<ui-view/>
 	
  	<!-- App JS -->
  
  	<script src="/javascript/script.js"></script>
  	<script src="/javascript/angular/application.js"></script>
  	<script src="/javascript/angular/routes.js"></script>
  	<script src="/javascript/angular/service.js"></script>
  	<script src="/javascript/angular/controller.js"></script>
  	<script src="/javascript/angular/directive.js"></script>
  	
  </body>
</html>